.content{

    border: 2px solid white;
    width: 600px;
    height: auto;
    background-color: #c784dd;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 360px;
}

.content:hover{
    background-color: #8974fb;
    border: 2px solid red;
}

#back{
    color:#8974fb;
}

#back:link {
    text-decoration: none;
}
