/* Todo */

input[type="text"],
#select,
input[type="text"]:focus {
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 7px;
}

label.add {
  margin-bottom: 15px;
}

li.list-group-item {
  background-color: #423a6f;
  color: #f8f9fa;
}

.pointer {
  cursor: pointer;
}

.item-complete {
  background-color: #3c3b45 !important;
}

header .btn {
  margin: 0 5px;
}

.filter-prio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 0;
}